@page "{name}"
@using ParquetViewer.Classes;
@using ParquetViewer.Controllers;
@model ParquetViewerGUI.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
@{
    string route = Url.RouteUrl(ViewContext.RouteData.Values);
    int index = route.LastIndexOf('/');
    string fileName = route.Remove(0, index + 1);
    int trimIndex = fileName.IndexOf('.');
    fileName = fileName.Remove(trimIndex);
    ParquetFileController context = new ParquetFileController();
    <form method="post"class="deleteContainer">
    <h1 class="delete">Are you sure you want to delete @fileName?</h1>
    <input type="hidden" asp-for="FileName" value="@fileName"/>
    <div class="deleteButtons">
        <input type="submit" value="Yes" class="deleteButton">
        <a asp-page="Index" class="dontDelete">No</a>
    </div>
    </form>
}
