@page "{name}"
@using ParquetViewer.Classes;
@using ParquetViewer.Controllers;
@model ParquetViewerGUI.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Welcome to the editing page!</h1>
<form class="form" method="post">
    @{
            string route = Url.RouteUrl(ViewContext.RouteData.Values);
            int index = route.LastIndexOf('/');
            string fileName = route.Remove(0, index + 1);
            int trimIndex = fileName.IndexOf('.');
            fileName = fileName.Remove(trimIndex);
    <input type="hidden" name="FileName" value="@fileName"/>
    <label for="Id">Id:</label>
    <input type="text" name="Id"/>
    <label for="Name">New Name:</label>
    <input type="text" name="Name"/>
    <label for="Value">New Value:</label>
    <input type="text" name="Value"/>
    <input type="submit" value="Update"/>
    <a asp-page="Index">Back</a>
}
</form>
