@page "{name}"
@using ParquetViewer.Classes;
@using ParquetViewer.Controllers;
@model ParquetViewerGUI.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Welcome to the editing page!</h1>
    <a asp-page="Index" class="buttons back">Back to Home</a>
<form class="forms " method="post">
    @{
            string route = Url.RouteUrl(ViewContext.RouteData.Values);
            int index = route.LastIndexOf('/');
            string fileName = route.Remove(0, index + 1);
            int trimIndex = fileName.IndexOf('.');
            fileName = fileName.Remove(trimIndex);

    <input type="hidden" name="FileName" value="@fileName"/>
    <div class="formInputs">
        <label for="Id">Id:</label>
        <input type="text" name="Id"/>
    </div>
    <div class="formInputs"> 
        <label for="Name">New Name:</label>
        <input type="text" name="Name"/>
    </div>
    <div class="formInputs">
        <label for="Value">New Value:</label>
        <input type="text" name="Value"/>
    </div>
    <input type="submit" value="Update" style="margin-top: 3vh;"/>
}
</form>
