@page "{name}"
@using ParquetViewer.Classes;
@using ParquetViewer.Controllers;
@model ParquetViewerGUI.Pages.MainModel
@{
    ViewData["Title"] = "Main View";
}
<section id="main">
    <table class="table">
        <thead>
            <th>File Name</th>
            <th>Id</th>
            <th>Name</th>
            <th>Value</th>
        </thead>
        @{
            string route = Url.RouteUrl(ViewContext.RouteData.Values);
            int index = route.LastIndexOf('/');
            string fileName = route.Remove(0, index + 1);
            int trimIndex = fileName.IndexOf('.');
            fileName = fileName.Remove(trimIndex);
            ParquetFileController context = new ParquetFileController();
            IList<ParquetFile> parquetList = context.GetOneFile(fileName).Result;
            foreach(ParquetFile file in parquetList)
            {
                <tbody>
                    <td>@file.FileName</td>
                    <td>@file.Id</td>
                    <td>@file.Name</td>                                             
                    <td>@file.Value</td>                                             
                </tbody>
            }
            }
    </table>
</section>